{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
  <header id="header" class="header">
    <div class="site-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            Find me in sections/header.liquid
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
